@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('images/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

h1 {
    text-align: center;
    color: #333;
}

form, ul, h2, div, button {
    margin: 10px 0;
}

#submitForm {
    background-color: #1b1b1b;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="url"] {
    width: calc(100% - 110px);
    padding: 8px;
    background-color: #1b1b1b;
    margin-right: 10px;
    border: none;
    box-sizing: border-box;
}

input[placeholder], [placeholder], *[placeholder] {
    color: white;
}

textarea:focus, input:focus {
    outline: none;
}

button {
    background-color: #2e2e2e;
    color: white;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

ul {
    list-style-type: none;
    padding: 0;
}

#submissions li {
    background-color: #1b1b1b;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#submissions li a {
    color: #007BFF;
    text-decoration: none;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#submissions li a:hover {
    text-decoration: underline;
}

#submissions li span {
    margin-left: 10px;
    color: #ffffff; /* Setzt die Farbe des Zählers auf Weiß */
}

body.admin-panel #submissions li {
    color: #ffffff !important; /* Stellt die Farbe des gesamten Textes auf Weiß */
}

body.admin-panel #submissions li span {
    color: #ffffff !important; /* Setzt die Herzfarbe explizit auf Weiß */
}

body.admin-panel #submissions li a {
    color: #ffffff !important; /* Setzt die Farbe des Links explizit auf Weiß */
}

#leaderboard {
    background-color: #1b1b1b;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff; /* Setzt die Textfarbe innerhalb der Rangliste auf Weiß */
}

#heartCounter {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #1b1b1b;
    padding: 10px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1b1b1b;
    height: 40px;
    padding: 10px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
}

#userName, #logout {
    margin-bottom: 5px;
    position: relative;
    color: #fff;
    top: -18px;
}

#userName:last-child, #userName:last-child + #logout {
    margin-bottom: 0;
}

#login {
    display: block;
    text-align: center;
    width: 17%;
    margin: 20px auto;
    background-color: #232323;
    color: white;
    padding: 10px 0px;
    border: none;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login:hover {
    background-color: #8600ff;
}

.custom-audio-player {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.play-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: #0056b3;
}

.progress-bar {
    width: 95%;
    margin: 1%;
    height: 20px;
    background-color: #ccc;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.progress {
    height: 20px;
    width: 100%;
    background-color: #007BFF;
    border-radius: 5px;
    position: relative;
    transition: width 0.3s ease;
    top: -10px;
}

.submission-link {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    display: block;
    margin-bottom: 5px;
    color: #2a6ebb;
}

.submission-details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.leaderboard-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Bereits vorhandene Styles bleiben unverändert */

.play-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.play-button img {
    width: 40px;
    height: 40px;
    display: block;
}

.heart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
    color: white;
    border: none;
    padding: 10px 10px;
    margin-right: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-container {
    background-color: #252525; /* Schwarze Box */
    padding: 10px; /* Innenabstand */
    text-align: center; /* Zentriert den Text innerhalb der Box */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50%; /* Festgelegte Breite */
    margin: 0 auto; /* Horizontales Zentrieren */
    position: relative;
}

.header-container h1 {
    color: #fff; /* Weißer Text */
    margin: 0; /* Kein Außenabstand */
}


input[type="password"] {
    width: calc(100% - 24px); /* Abzug vom Innenabstand */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 1px;
    box-sizing: box;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    background-color: #1b1b1b;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.login-button {
    padding: 10px 20px;
    font-size: 1em;
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.heart-button:hover {
    background-color: #0056b3;
}

.heart-button:disabled {
    background-color: #ff0000;
    cursor: not-allowed;
}

#thankYouMessage {
    background-color: #1b1b1b;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center; /* Text in der Mitte zentrieren */
}

.heart-button span {
    margin-left: 5px;
    color: #ffffff; /* Farbe des Zählers auf Weiß setzen */
}

/* Neue Styles für Admin Panel */
.button-container {
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    flex-direction: row; /* Horizontal anordnen */
    gap: 10px; /* Abstand zwischen den Buttons */
}

.button-container button {
    border: none; /* Kein Rahmen */
    border-radius: 0; /* Ecken auf 0 setzen */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
